.sobreNosotros {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);

	body.dark & {
		background-color: rgb(80, 80, 80);
		color: white;
	}
}

.tituloSomos {
	font-weight: bold;
	margin-bottom: 5rem;
	font-size: 5.5rem;
	text-align: center;
	margin-top: 5rem;
}

.textoSomos {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 5rem;
	padding-left: 20%;
	padding-right: 20%;
}

.titulotienda {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(18, 36, 54);
	font-size: 5rem;
	color: white;
	height: 20rem;
}

.pieDePagina {
	display: flex;
	flex-direction: row;
	background-color: rgb(18, 36, 54);
	height: 25rem;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 2rem;

	a {
		color: white;
	}
}
