* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 62.5%;
}

.btnCompra {
	width: 15rem;
	height: 3.5rem;
	background-color: #334756;
	border: none;
	font-size: 1.8rem;
	text-align: center;
}

.btnCompra:hover {
	background-color: #334756;
}

.btnCompra:active {
	border: none;
}

.btnCompra:focus {
	background-color: #334756;
}
